*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(31, 29, 29);
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 120px;
}
.item{
    margin-right: 10px;
    padding: 7px;
    font-size: 18px;
}
.item:hover{
    background-color: red;
    cursor: pointer;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    height: 100vh;
    /* border: 4px solid tomato; */
    justify-content: space-around;
    align-items: center;
    color: white;
    background-image: url("../images/background.png"),linear-gradient(45deg,rgb(20, 20, 20),rgb(51, 50, 50));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-title{
    font-size: 55px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding:10px 20px;
    background-color: red;
    border: none;
    color: white;
}
.btn:hover{
    background-color: khaki;
    cursor: pointer;
    color: black;
}
.about-us{
    text-align: center;
    margin-top: 15px;
    font-size: 55px;
}

.about-container{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.about-title{
    font-size: 30px;
    margin-bottom: 15px;
}
.btn2{
    margin-top: 15px;
}